.book-item {
    /* height: 120px; */
    width: 15vw;
    margin: 1vw 1vh 1vw 1vh;
    border: none;
    background-color: rgb(135, 157, 209);
    opacity: 80%;
    color: white;
    border-radius: 3%;
}

.card-title {
    padding: 1vw 1vh 1vw 1vh;
    font-size: 1.2vw;
    height: 6vw;
    text-align: center;
    font-weight: 100; 
}

.play-icon {
    font-size: 30px;
}

.btn {
    display: block;
    font-size: 1.2vw;
    font-weight: 100;
    margin-top: 1vh;
    margin-bottom: 1vh;
    background-color: rgb(66, 99, 175);;
    border: none;
}